.login-sctn {
    min-height: calc(100vh - 258px);
    padding: 5em;
    background-color: #E5E5E5;
}

.login-sctn h1{
    padding-bottom: 1em;
}

.login-sctn div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    min-height: calc(50vh - 258px);
    margin: 0 auto;
    background-color: #0066CC;
    color: blanchedalmond;
    border-radius: 5px;
    box-shadow: 1px 1px 20px #333;
    padding: 1em;
}

.login-sctn input{
    margin-bottom: 1em;
    width: 80%;
}

#btnBege{
    background-color: #A18259;
    padding: 0.5em;
    width: 100px;
    border-radius: 5px;
}