.sct-chmtv {
    word-wrap: break-word;
}

.sct-chmtv .background {
    height: 500px;
    background: url(../../../assets/shopping.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    filter: blur(2px);
}

.sct-chmtv h1 {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    color: #fafafa;
    text-shadow: 2px 2px 10px #000;
    top: 250px;
    font-weight: bold;
    font-size: 4em; 

}

.sct-chmtv h1::after {
    position: block;
    width: 100px;
    height: 50px;
    background-color: #333;
}

.sct-chmtv .blue-in-junior {
    color: #0066cc;
    text-decoration: none;
    background: none;
}