header{
  background-color: #000C2C;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
}

.admin{
    background-color: #350406;
}

.admin button{
  padding: 0.3em 2em;
  background-color: #C4C4C4;
  font-size: calc(10px + 2vmin);
  color: black;
  font-weight: inherit;
  position: absolute;
  bottom: -1.8em;
  display:block;
  z-index: 1;
  right: 0em;
}

img {
  cursor: pointer;
  width: 100px;
  margin: 0 auto;
  margin-left: 0%;
}

nav {
  text-align: right;
  margin-right: 5%;
  display: flex;
  flex-wrap: wrap;
}

a, a:visited{
  text-decoration: none;
  margin: 2ch;
  color: white;
}

a:hover{
  text-decoration: underline; 
}

header{
  font-size: calc(10px + 2vmin);
}

.cart-icon {
  color: #fafafa;
  font-size: 2em;
  margin: auto 0;
  cursor: pointer;
}

/*  
  .exit{
    float: right;
    margin: 0ch;
*/

@media only screen and (max-width: 440px) {
  img {
    margin: 0 auto;
  }
}