.side-menu {
    word-wrap: break-word;
    background-color: #A18259;
    min-width: 200px;
    max-width: 10vw;
    box-shadow: 1px 1px 20px #333;
    min-height: 550px;
    flex-shrink: 0;
    z-index: 1;
}

.side-menu nav {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: sticky;
    top: 0;
}

.side-menu nav ul {
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

ul.selected {
    text-decoration: underline;
}

@media only screen and (max-width: 650px) {
    .side-menu {
        min-height: 0px;
        width: 100%;
        max-width: unset;
        position: sticky;
        top: 0px;
        z-index: 1;
    }

    .side-menu nav {
        flex-direction: row;
    }
}