.show-comments{
    background-color: #E5E5E5;
    padding: 20px 0;
}

.commentsBox{
    background-color:#FFC252;
    margin-top: 0px;
    margin: 10px auto;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    min-width: 150px;
    width: 90%;
    max-width: 900px;
    text-align: left;
}


.commentsBox textarea{
    width: 400px;
    height: 100px;
    max-height: 200px;
    resize: vertical;
}

.commentsBox button{
    background-color: #0066CC;
    width: 80px;
    height: 25px;
    display: grid;
    align-items: center;
}

.commentsBox form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#input{
    background-color: #A18259;
}