.productDetails {
    background-color: #E5E5E5;
    text-align: left;
}

.productDetails div {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.productDetails h4{
    font-size: 30px;
}

.productDetails div div:nth-child(1) {
    margin-bottom: 20px;
    display: inline;
}

.productDetails div div:nth-child(2) {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.productContainer{
    display: inline-flex;
}

.productDetails button {
    min-height: 30px;
    max-height: 40px;
}

.buyArea{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 30px;
    align-items: center;
}

.red-btn {
    background-color: #C94529;
    width: 120px;
}

.green-btn {
    background-color: #0A5A1F;
    width: 120px;
}
