.product-selector {
    border-radius: 5px;
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 20px #333;
}

.product-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #778F96;
    border: 1px solid #333;
    border-radius: 5px;
}

.product-box button:nth-child(1) {
    background-color: #0A5A1F;
}

.product-box button:nth-child(2) {
    background-color: #C94529;
}

@media only screen and (max-width: 330px) {
    .product-box {
        justify-content: center;
        max-width: 80%;
        margin: 0 auto;
    }
}