footer {
    background-color: #000C2C;
    width: 100%;
    color: #fafafa;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
}

footer .column-footer {
    display: flex;
    flex-direction: column;
}

footer .logos-footer {
    display: flex;
    justify-content: center;
}

footer .icon {
    font-size: 35px;
    margin: 0 5px 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

footer p {
    font-weight: lighter;
}