.trash-icon {
    color: red;
    cursor: pointer;
    align-items: flex-end;
}

.product-box {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    max-width: 500px;
    margin: 0 auto;
}

.amount-changer {
    display: flex;
    align-items: center;
    gap: .5em;
}

.chart-box {
    border: 1px solid #333;
    border-radius: 10px;
    padding: 10px;
    background-color: #c4c4c4;
    box-shadow: 1px 1px 20px #333;
    min-width: 100px;
    width: 600px;
    max-width: 90%;
}

.red-btn {
    background-color: #C94529;
    width: 120px;
    height: 30px;
    flex-wrap: wrap;
}

.green-btn {
    background-color: #0A5A1F;
    width: 120px;
    height: 30px;
    flex-wrap: wrap;
}

#red-btn{
    background-color: #C94529;
}

#green-btn{
    background-color: #0A5A1F;
}