.input-field-produtos {
    padding: 5% 0;
    text-align: center;
    margin: 5px auto;
    width: 95%;
    max-width: 500px;
    background-color: #fafafa;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 1px 1px 20px #333;
}

.input-field-produtos input {
    max-width: 100%;
}

.input-field-produtos button {
    background-color: #0A5A1F;
}