.register-sctn {
    min-height: calc(100vh - 258px);
    margin: 0;
    background-color: #E5E5E5;
    padding: 3em;
}

.register-sctn h1, .register-sctn h3{
    padding-bottom: 1em;
}

.register-sctn form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    background-color: #0066CC;
    color: blanchedalmond;
    border-radius: 5px;
    box-shadow: 1px 1px 20px #333;
    padding: 1em;
}

.register-sctn input{
    margin-bottom: 1em;
    width: 80%;
}

#btnBege{
    background-color: #A18259;
    padding: 0.5em;
    width: 100px;
}