section.show-products {
    background-color: #C4C4C4;
    padding: 1%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

section.show-products .productBox {
    border: 1px solid #333;
    border-radius: 10px;
    padding: 0 5px 0 5px;
    margin: 5px;
    background-color: #D5D5D5;
    box-shadow: 1px 1px 20px #333;
    cursor: pointer;
}

.productBox img {
    min-width: 100px;
    width: 50vw;
    max-width: 200px;
    border-radius: 20px;
}