.storage {
    padding: 1%;
    margin: 0 auto;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px;
    background-color: #778F96;
    margin: 5px 0;
    flex: .2 1;
    cursor: pointer;
}
.product p, .product button {
    margin: 5px;
}

.product button {
    background-color: #0A5A1F;
}

.product p:nth-child(1) {
    font-weight: bold;
}