.div-like-btn.div-like-btn {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    gap: 1em;
    color: #529AFF;
}

.like-btn:hover {
    cursor: pointer;
}

.div-like-btn p{
    margin: 0;
}