.sct-sobre-nos {
    margin-top: 0;
}

.sct-sobre-nos h3 {
    margin-top: 0px;
    padding-top: 10px;
}

.sct-sobre-nos div{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sct-sobre-nos p {
    margin: 0 auto;
    max-width: 500px;
}

.sct-sobre-nos div img {
    max-width: 30vw;
    margin: 0 auto;
}