.edit-profile{
    background-color: #E5E5E5;
}

.edit-profile h1, .edit-profile h3, .edit-profile div{
    padding: 0.5em;
}

.fields label{
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    text-align: left;
    display: inline-block;
    width: 200px;
}

.edit-profile input{
    width: calc(50vw - 258px);
    min-width: 100px;
    height: 25px;
}