.product-form {
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
    border-radius: 10px;
    max-width: 90%;
    box-shadow: 1px 1px 20px #333;
}

.div-dimensions {
    display: flex;
    flex-wrap: wrap;
}

.product-form * {
    margin: 2px;
}

.product-form input, .product-form textarea {
    border-radius: 5px;
    min-width: 10px;
    width: 60%;
}

.product-form textarea {
    resize: vertical;
    width: 90%;
    min-height: 100px;
    height: 188px;
    max-height: 188px;
}

.send-file-trigger {
    background-color: #333;
    color: #fafafa;
    border-radius: 5px;
    min-width: 80px;
    max-width: 50%;
    cursor: pointer;
    margin-bottom: 10px;
}