.categories-form {
    background-color: #fafafa;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px 20px #333;
    display: flex;
    flex-direction: column;

}

.category-box {
    border: 1px solid #333;
    background-color: #778F96;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.category-box button:nth-child(1) {
    background-color: #0A5A1F;
}

.category-box button:nth-child(2) {
    background-color: #C94529;
}