.article-editor-input {
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 5px;
}

.article-editor-input textarea {
    resize: vertical;
    min-height: 50px;
    max-height: 300px;
}