.img-box {
    border: 1px solid #333333;
    border-radius: 10px;
    position: relative;
}

.img-box img {

}

.img-box button {
    background-color: red;
    position: absolute;
    right: 10px;
}