table, th, td {
    border: 1px solid black;
}

.show-users {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.user-box {
    word-wrap: break-word;
    border: 1px solid #333;
    border-radius: 10px;
    margin: 10px 0;

    width: 90%;
    max-width: 200px;

    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tables {
    width: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}