*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button, input[type="submit"]:not(#img-add-article-btn) {
  color: #fafafa;
  background-color: #333;
  border-radius: 5px;
  border: 1px solid #333;
  transition: .2s;
  font-weight: bold;
}

button:hover, input[type="submit"]:hover, input[type="file"] button {
  color: #333;
  background-color: #fafafa;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 auto;
}
